*{
    font-family: Helvetica;
}

body{
    background-color: rgb(225, 231, 225);
    margin: 0;
}

#container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template: 
    /*"header1 header1" 80px*/
    "header2 header2" 80px
    "left right" 800px
    /350px 650px;
    
}

#tophead{
    background-color: rgb(43 76 68);
    margin-top: 0px;
    margin-bottom: 0px;

}

#tophead h1{
    color: white;
    font-family: Helvetica;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}


#style{
    /*border: solid;*/
    padding-top: 20px;
    grid-area: header2;
    background-color: rgb(241, 241, 241);
}

#style ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    text-align: center;
}

#style li{
    width: 33%;
}

.stylebutton{
    padding: 10px;
    border: none;
    font-size: 18px;
}

.infoarea input{
    padding: 5px;
    padding-right: 30px;
    /*border-radius: 5px;*/
    border-color: darkslategrey;
    border-radius: 5px;

}

.stylebutton:hover{
   color: rgb(60, 122, 122);
   text-decoration: underline;
}

#info{
    /*border: solid;*/
    background-color: rgb(241, 241, 241);
    grid-area: left;
    padding: 20px;
    padding-left: 50px;
}


.infoarea{
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 20px;

}


#card{
    background-color: rgb(241, 241, 241);
    /*border: solid;*/
    grid-area: right;
    /*background-image: url(images/invitation-flower.jpeg);*/
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    
}

.initialarea{
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 150px;
    text-align: center;
    font-size: 65px;
    font-style: italic;

}

.locationarea{
    /*border: solid;*/
    text-align: center;

}


#invitation{
    text-align: center;
    font-size: 20px;
}

#firstname{
     /*position: absolute;
    top: 300px;
    left: 250px;*/
    text-align: center;
    font-size: 27px;
}

#lastname{
    font-size: 30px;
    padding-top: 0px;
    margin-top: 5px;
}

#weddingdate{
    font-size: 20px;
}


#weddinglocation{
    font-size: 25px;  
}


