body{
    

}

#container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template: 
    "header1 header1" 50px
    "header2 header2" 50px
    "left right" 800px
    /400px 600px;
    
}
#head{
    border: solid ;
    background-color: aqua  ;
    grid-area: header1;
}

#head h1{
    margin: auto 0;
    padding: 0;
    text-align: center;
}

#style{
    border: solid ;
    grid-area: header2;
}

#style ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    text-align: center;
}

#style li{
    width: 33%;
}

#info{
    border: solid ;
    grid-area: left;
    padding: 20px;
}


.infoarea{
    margin: 0 auto;
    padding: 15px;

}


#card{
    position: relative;
    border: solid ;
    grid-area: right;
    background-image: url(images/invitation-2.jpeg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    
}

#firstname{
    position: absolute;
    top: 200px;
    left: 200px;
}